@import url(./variables.css);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 150px;
  background-color: green;
}

header {
  width: 100vw;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--main-bg-color);
  color: yellow;
  font-size: 25px;
  font-weight: bolder;
}

p {
  color: var(--content-display-color);
}

.center_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.max_width {
  max-width: 50%;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.pokedex_main {
  background-color: var(--main-bg-color);
  margin: 5rem 0 5rem 5rem;
  padding: 3rem;
  width: 400px;
  min-width: calc(width/2);
  height: 550px;
  min-height: calc(height/2);
  border-radius: 10px;
  box-shadow: 0 0 10px 5px var(--main-bg-color-shadow);
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  justify-items: center;
}

.display_border_main {
  background-color: var(--displayborder-bg-color);
  padding: 1rem;
  width: 300px;
  height: 250px;
  border-radius: 5px 5px 5px 40px;
  box-shadow: 0 0 5px 3px var(--displayborder-bg-color-shadow);
}

.display_main {
  background-color: var(--display-bg-color);
  padding: 1rem;
  width: 80%;
  height: 75%;
  border-radius: 3px;
  box-shadow: 0 0 1px 1px var(--displayborder-bg-color-shadow);
}

.pokedex_info {
  background-color: var(--main-bg-color);
  margin: 5rem 5rem 5rem 0;
  padding: 3rem;
  width: 400px;
  min-width: calc(width/2);
  height: 450px;
  min-height: calc(height/2);
  border-radius: 10px;
  box-shadow: 0 0 10px 5px var(--main-bg-color-shadow);
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  justify-items: center;
  align-self: end;
}

.display_info {
  background-color: var(--display-bg-color);
  padding: 0.3rem;
  width: 400px;
  max-width: 300px;
  height: 100px;
  max-height: 100px;
  border-radius: 3px;
  box-shadow: 0 0 1px 1px var(--displayborder-bg-color-shadow);
}
