:root {
  --main-bg-color: rgb(220, 29, 45);
  --main-bg-color-shadow: rgb(137, 13, 28);
  --displayborder-bg-color: rgb(222, 222, 222);
  --displayborder-bg-color-shadow: rgb(87, 87, 87);
  --display-bg-color: rgb(35, 35, 35);
  --content-display-color: rgb(32, 194, 14);
  /* --content-display-bg-color:
    --content-displayborder-shadow: */
}
